absl-py
accelerate
addict
aenum
aiofiles
aiohttp
aiosignal
altair
annotated-types
antlr4-python3-runtime
anyio
appdirs
async-timeout
attrs
audioread
av
basicsr
beautifulsoup4
blendmodes
boltons
cachetools
certifi
cffi
charset-normalizer
clean-fid
click
clip @ https://github.com/openai/CLIP/archive/d50d76daa670286dd6cacf3bcd80b5e4823fc8e1.zip#sha256=b5842c25da441d6c581b53a5c60e0c2127ebafe0f746f8e15561a006c6c3be6a
clip-anytorch
cmake
contourpy
cycler
decorator
deprecation
diffusers
docker-pycreds
einops
exceptiongroup
face-alignment
facexlib
fastapi
ffmpeg
ffmpy
filelock
filterpy
fonttools
frozenlist
fsspec
ftfy
future
gdown
gfpgan
gitdb
GitPython
google-auth
google-auth-oauthlib
gradio==3.43.2
gradio_client
grpcio
h11
httpcore
httpx
huggingface-hub
idna
imageio
imageio-ffmpeg
importlib-metadata
importlib-resources
inflection
invisible-watermark
Jinja2
joblib
jsonmerge
jsonschema
jsonschema-specifications
k-diffusion
kiwisolver
kornia
lark
lazy_loader
librosa
lightning-utilities
lit
llvmlite
lmdb
lpips
Markdown
MarkupSafe
matplotlib
mpmath
msgpack
multidict
networkx
numba
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
oauthlib
omegaconf
open-clip-torch
opencv-python
orjson
packaging
pandas
pathtools
piexif
Pillow
platformdirs
pooch
protobuf
psutil
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
pydub
pyparsing
PySocks
python-dateutil
python-multipart
pytorch-lightning
pytz
PyWavelets
PyYAML
realesrgan
referencing
regex
requests
requests-oauthlib
resampy
resize-right
rpds-py
rsa
safetensors
scikit-image
scikit-learn
scipy
semantic-version
sentencepiece
sentry-sdk
setproctitle
six
smmap
sniffio
soundfile
soupsieve
soxr
starlette
sympy
tb-nightly
tensorboard-data-server
threadpoolctl
tifffile
timm
tokenizers
tomesd
tomli
toolz
torch
torchaudio
torchdiffeq
torchmetrics
torchsde
torchvision
tqdm
trampoline
transformers
trimesh
triton
typing_extensions
tzdata
urllib3
uvicorn
wandb
wcwidth
websockets
Werkzeug
xformers
yacs
yapf
yarl
zipp

